<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    
<connectionStrings>
    <add name="HotelManagementSystemRoom.Properties.Settings.HotelConnectionString"
        connectionString="host=localhost; database=hotel_management; username=root; password=;&#xA;persistsecurityinfo=True;SslMode=none;" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
